[submodule "themes/future-imperfect"]
	path = themes/future-imperfect
	url = https://github.com/LordMathis/hugo-theme-nix
[submodule "public"]
	path = public
	url = https://github.com/RyanTKing/ryanking.github.io
